.main-container {
    width: 100%;
    padding-bottom: 5rem;
    background-color: $color-primary-dark
}

.sidebar {
    @include flex-column;
    position: fixed;
    width: 6.5rem;
    overflow: hidden;
    z-index: 1000;
    height: 100vh;
    background-color: $color-primary-grey;
    color: $color-primary-light;
    transition: all .2s cubic-bezier(0.5, 0, 0.5, 1.5);

    .top {
        padding: 3rem 2rem 4rem 2rem;
        height: 5rem;
        @include flex-row;
        align-items: center;
        gap: 3rem;
        border-bottom: 2px solid $color-primary-blue;

        i {
            font-size: 2.5rem;
            cursor: pointer;
        }

        img {
            width: 15rem;
            cursor: pointer;
        }
    }

    .main {
        width: 30rem;
        padding: 2rem 0;
        color: $color-color;
        @include flex-column;
        gap: 2rem;
        font-size: 1.45rem;

        .search {
            @include flex-row;
            align-items: center;
            gap: 2.5rem;
            padding: 0 2rem;

            i {
                font-size: 2rem;
            }

            input {
                transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                border-radius: .5rem;
                flex: 1;
                outline: none;
                border: 1.5px solid $color-color;
                padding: 1rem;
                font-size: inherit;
                background-color: transparent;
                color: $color-primary-light;
                transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    border: 1.5px solid $color-primary-light
                }
            }
        }

        .side-nav {
            @include flex-column;

            li {
                @include flex-row;
                gap: 2.5rem;
                padding: 2rem;
                cursor: pointer;
                transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                border-left: 4px solid transparent;

                i {
                    font-size: 1.8rem;
                }

                &:hover {
                    color: $color-primary-light;
                    border-left: 4px solid #00A0D6;
                }
            }

            .active-list {
                border-left: 4px solid #00A0D6;
            }
        }
    }

    .bottom {
        margin-top: auto;
        @include flex-column;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
        color: $color-color;
        align-items: center;

        .avatar {
            @include flex-row-center;
            width: 4.3rem;
            height: 4.3rem;
            border-radius: 50%;
            border: 4px solid $color-primary-light;
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

            img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .user-info {
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
            font-size: 1.3rem;
            display: none;

            .name {
                color: $color-primary-light;
            }
        }

        .angle-right {
            display: none;
        }

        .gear {
            margin-left: 0;
            @include flex-row-center;

            gap: 2rem;

            i {
                font-size: 1.8rem;
                transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                cursor: pointer;

                &:hover {
                    color: $color-secondary-purple-light;
                }
            }

            .setting-icon {
                &:hover {
                    transform: rotate(360deg);
                }
            }


        }
    }
}

.active-sidebar {
    width: 30rem;
}

.add-sidebar-items {
    display: block !important;
}

.active-user {
    flex-direction: row !important;
    justify-content: space-between !important;
}

.main-content {
    margin-left: 6.5rem;
    transition: all .2s cubic-bezier(0.5, 0, 0.5, 1.5);
    background-color: $color-primary-dark;
    overflow: hidden;

    .swiper-button-prev,
    .swiper-button-next {
        color: $color-primary-light;

        &:after {
            font-size: 3rem;
            font-weight: 700;
        }
    }

    .hero-sliders {
        height: 70vh;

        .swiper {
            height: 100%;
        }

        .swiper-pagination-bullet {
            background-color: $color-primary-light !important;
        }

        .movie-card {
            height: 100%;

            .text-content {
                transform: translate(10%, 50%);
                color: $color-primary-light;

                .trending {
                    font-weight: 700;
                    font-size: 2rem;
                }

                .heading-primary {
                    text-transform: uppercase;
                    color: $color-primary-light;
                    font-weight: 700;
                }

                .included {
                    @include flex-row;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 5rem;

                    .check {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        background: #00A0D6;
                        padding: .5rem;
                        font-size: 1.5rem;
                        @include flex-row-center;
                    }

                    .rated {
                        margin-left: 3rem;
                        padding: .5rem;
                        border-radius: .5rem;
                        font-size: 1.4rem;
                        background-color: #373B40;
                    }
                }

                .btns {
                    @include flex-row;
                    gap: .8rem;
                    align-items: center;

                    .play {
                        @include flex-row-center;
                        gap: 2rem;
                        cursor: pointer;
                        margin-right: 3rem;

                        p {
                            font-weight: 600;
                            text-transform: capitalize;
                            font-size: 1.8rem;
                        }

                        span {
                            width: 7rem;
                            height: 7rem;
                            background-color: $color-primary-light;
                            color: $color-primary-blue;
                            @include flex-row-center;
                            font-size: 3rem;
                            border-radius: 50%;
                            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .watchlist,
                    .details {
                        width: 4rem;
                        height: 4rem;
                        @include flex-row-center;
                        color: $color-primary-light;
                        background-color: #373B40;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

                        &:hover {
                            background-color: $color-primary-light;
                            color: #373B40;
                            transform: scale(1.1);
                        }
                    }

                    .watchlist:hover {
                        &::after {
                            position: absolute;
                            content: 'Watchlist';
                            color: $color-primary-light;
                            background-color: #373B40;
                            bottom: -4rem;
                            padding: .2rem .8rem;
                            border-radius: .5rem;
                            font-size: 1.2rem;
                        }
                    }

                    .details:hover {
                        &::after {
                            position: absolute;
                            color: $color-primary-light;
                            content: 'Details';
                            background-color: #373B40;
                            bottom: -4rem;
                            padding: .2rem .8rem;
                            border-radius: .5rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .card-1 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/cristopher.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-2 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/classof.png") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-3 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/pathan.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-4 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/dom.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-5 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/smile.png") no-repeat;
            background-size: contain;
            background-position: right;
        }
    }

    .content {
        color: $color-primary-light !important;
        padding: 4rem 2rem;
        @include flex-column;
        gap: 5rem;

        .continue {
            @include flex-column;
            gap: 1rem;
            z-index: 1000;

            .swiper-hover {
                overflow: visible;
            }

            .heading-section {
                font-size: 2.4rem;
                margin-bottom: 2rem;

                span {
                    color: #00A0D6;
                }
            }

            .card {
                position: relative;
                border-radius: .8rem;
                width: 26rem;
                cursor: pointer;
                transition: all .3s cubic-bezier(0.5, -0.5, 0.2, 1.6);

                &:hover {
                    transform: scale(1.1);
                    z-index: 100;

                    .card-content {
                        visibility: visible;
                        opacity: 1;
                        height: auto;
                    }

                    .card-img {
                        border-radius: .8rem .8rem 0 0;
                    }
                }

                .card-content {
                    background-color: $color-primary-dark;
                    padding: 1rem;
                    position: absolute;
                    border-radius: 0 0 .8rem .8rem;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s cubic-bezier(0.5, -0.5, 0.2, 1.6);

                    .included-with {
                        font-size: 1.3rem;

                        i {
                            color: #00A0D6;
                            font-size: 1.5rem;
                            margin-right: .5rem;
                        }
                    }

                    .ctas {
                        margin-top: 1rem;
                        @include flex-row-center;
                        justify-content: flex-start;
                        gap: 1rem;
                        margin-bottom: 1.5rem;

                        .play {
                            @include flex-row-center;
                            gap: 1rem;

                            i {
                                font-size: 4rem;
                            }
                        }

                        .icon-sub {
                            width: 3.5rem;
                            height: 3.5rem;
                            padding: 0 1rem;
                            border-radius: 50%;
                            background-color: #373B40;
                            color: $color-primary-light;
                            @include flex-row-center;
                        }
                    }

                    .info {
                        .title {
                            .subtag {
                                font-size: 1rem;
                                letter-spacing: .3rem;
                                text-transform: uppercase;
                            }

                            .heading-title {
                                font-size: 2.5rem;
                                letter-spacing: .1rem;
                            }
                        }

                        .rated {
                            font-size: 1.2rem;
                            font-weight: 600;
                            color: #A8A8A8;
                            margin-bottom: .5rem;

                            span {
                                margin-left: 1rem;
                                padding: 0 1rem;
                                border-radius: .5rem;
                                background-color: #373B40;
                                color: $color-primary-light;
                            }
                        }

                        .awards {
                            font-size: 1.3rem;
                            margin-bottom: .5rem;
                        }

                        .desc {
                            color: #A8A8A8;
                            font-size: 1.4rem;
                        }
                    }
                }

                .card-img {
                    border-radius: .8rem;
                    height: 14.3rem;
                    position: relative;

                    .bar {
                        width: 90%;
                        height: .4rem;
                        background-color: hsla(0, 0%, 100%, .2);
                        position: absolute;
                        left: 50%;
                        top: 96%;
                        transform: translate(-50%, -98%);
                        border-radius: 5rem;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 90%;
                            height: .4rem;
                            border-radius: 5rem;
                            background-color: #00A0D6;
                        }
                    }
                }


                .card-1-img {
                    background: url("../../assets/continue-watching/sherlock.webp") no-repeat;
                    background-size: cover;
                }

                .card-2-img {
                    background: url("../../assets/continue-watching/young-seldon.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 30%;
                        }
                    }
                }

                .card-3-img {
                    background: url("../../assets/continue-watching/kantara.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 50%;
                        }
                    }
                }

                .card-4-img {
                    background: url("../../assets/continue-watching/kgf-chapter-2.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 70%;
                        }
                    }
                }

                .card-5-img {
                    background: url("../../assets/continue-watching/pushpa.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 30%;
                        }
                    }
                }

                .card-6-img {
                    background: url("../../assets/continue-watching/kung-fu-panda.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 10%;
                        }
                    }
                }

                .card-7-img {
                    background: url("../../assets/continue-watching/sarileru.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 20%;
                        }
                    }
                }

                .card-8-img {
                    background: url("../../assets/continue-watching/jack-ryan.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 55%;
                        }
                    }
                }

                .card-9-img {
                    background: url("../../assets/continue-watching/pathan.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 69%;
                        }
                    }
                }

                .card-10-img {
                    background: url("../../assets/continue-watching/infinite.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 42%;
                        }
                    }
                }

                .card-11-img {
                    background: url("../../assets/continue-watching/gold.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 5%;
                        }
                    }
                }

                .card-12-img {
                    background: url("../../assets/continue-watching/die-hart.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 80%;
                        }
                    }
                }

                .card-13-img {
                    background: url("../../assets/continue-watching/carnival.webp") no-repeat;
                    background-size: cover;

                    .bar {
                        &::after {
                            width: 98%;
                        }
                    }
                }
            }
        }

        .language {
            position: relative;
            z-index: 100;

            .lang-card {
                transform: scale(1) !important;

                &:hover {
                    .card-img {
                        border-radius: .8rem !important;
                    }
                }

                .lang-img-1 {
                    background: url("../../assets/lang/hindi.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-2 {
                    background: url("../../assets/lang/english.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-3 {
                    background: url("../../assets/lang/telgu.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-4 {
                    background: url("../../assets/lang/tamil.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-5 {
                    background: url("../../assets/lang/malyalam.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-6 {
                    background: url("../../assets/lang/odia.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-7 {
                    background: url("../../assets/lang/marathi.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-8 {
                    background: url("../../assets/lang/punjabi.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-9 {
                    background: url("../../assets/lang/bangla.webp") no-repeat;
                    background-size: cover;
                }

                .lang-img-10 {
                    background: url("../../assets/lang/gujrati.webp") no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.active-main-content {
    margin-left: 30rem !important;
}