.main-container {
    width: 100%
}

.sidebar {
    @include flex-column;
    position: fixed;
    width: 30rem;
    height: 100vh;
    background-color: $color-primary-grey;
    color: $color-primary-light;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

    .top {
        padding: 3rem 2rem 4rem 2rem;
        height: 5rem;
        @include flex-row;
        align-items: center;
        gap: 3rem;
        border-bottom: 2px solid $color-primary-blue;

        i {
            font-size: 2.5rem;
            cursor: pointer;
        }

        img {
            width: 15rem;
            cursor: pointer;
        }
    }

    .main {
        width: 30rem;
        padding: 2rem 0;
        color: $color-color;
        @include flex-column;
        gap: 2rem;
        font-size: 1.45rem;

        .search {
            @include flex-row;
            align-items: center;
            gap: 2.5rem;
            padding: 0 2rem;

            i {
                font-size: 2rem;
            }

            input {
                transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                border-radius: .5rem;
                flex: 1;
                outline: none;
                border: 1.5px solid $color-color;
                padding: 1rem;
                font-size: inherit;
                background-color: transparent;
                color: $color-primary-light;
                transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    border: 1.5px solid $color-primary-light
                }
            }
        }

        .side-nav {
            @include flex-column;

            li {
                @include flex-row;
                gap: 2.5rem;
                padding: 2rem;
                cursor: pointer;
                transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                border-left: 4px solid transparent;

                i {
                    font-size: 1.8rem;
                }

                &:hover {
                    color: $color-primary-light;
                    border-left: 4px solid #00A0D6;
                }
            }

            .active-list {
                border-left: 4px solid #00A0D6;
            }
        }
    }

    .bottom {
        margin-top: auto;
        @include flex-row;
        padding: 2rem;
        gap: 2rem;
        color: $color-color;
        align-items: center;

        .avatar {
            @include flex-row-center;
            width: 4.3rem;
            height: 4.3rem;
            border-radius: 50%;
            border: 4px solid $color-primary-light;
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

            img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .user-info {
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
            font-size: 1.3rem;

            .name {
                color: $color-primary-light;
            }
        }

        .gear {
            margin-left: auto;
            @include flex-row-center;

            gap: 2rem;

            i {
                font-size: 1.8rem;
                transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
                cursor: pointer;

                &:hover {
                    color: $color-secondary-purple-light;
                }
            }

            .setting-icon {
                &:hover {
                    transform: rotate(360deg);
                }
            }


        }
    }
}

.active-sidebar {
    width: 6.5rem;
    overflow: hidden;
}

.remove {
    width: 0;
    display: none !important;
    opacity: 0;
}

.active-user {
    flex-direction: column !important;
    justify-content: center !important;
}

.main-content {
    margin-left: 30rem;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: $color-primary-dark;

    .swiper-button-prev,
    .swiper-button-next {
        color: $color-primary-light;

        &:after {
            font-size: 3rem;
            font-weight: 700;
        }
    }

    .hero-sliders {
        height: 70vh;

        .swiper {
            height: 100%;
        }

        .swiper-pagination-bullet {
            background-color: $color-primary-light !important;
        }

        .movie-card {
            height: 100%;

            .text-content {
                transform: translate(10%, 50%);
                color: $color-primary-light;

                .trending {
                    font-weight: 700;
                    font-size: 2rem;
                }

                .heading-primary {
                    text-transform: uppercase;
                    color: $color-primary-light;
                    font-weight: 700;
                }

                .included {
                    @include flex-row;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 5rem;

                    .check {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        background: #00A0D6;
                        padding: .5rem;
                        font-size: 1.5rem;
                        @include flex-row-center;
                    }

                    .rated {
                        margin-left: 3rem;
                        padding: .5rem;
                        border-radius: .5rem;
                        font-size: 1.4rem;
                        background-color: #373B40;
                    }
                }

                .btns {
                    @include flex-row;
                    gap: .8rem;
                    align-items: center;

                    .play {
                        @include flex-row-center;
                        gap: 2rem;
                        cursor: pointer;
                        margin-right: 3rem;

                        p {
                            font-weight: 600;
                            text-transform: capitalize;
                            font-size: 1.8rem;
                        }

                        span {
                            width: 7rem;
                            height: 7rem;
                            background-color: $color-primary-light;
                            color: $color-primary-blue;
                            @include flex-row-center;
                            font-size: 3rem;
                            border-radius: 50%;
                            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .watchlist,
                    .details {
                        width: 4rem;
                        height: 4rem;
                        @include flex-row-center;
                        color: $color-primary-light;
                        background-color: #373B40;
                        border-radius: 50%;
                        cursor: pointer;
                        position: relative;
                        transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);

                        &:hover {
                            background-color: $color-primary-light;
                            color: #373B40;
                            transform: scale(1.1);
                        }
                    }

                    .watchlist:hover {
                        &::after {
                            position: absolute;
                            content: 'Watchlist';
                            color: $color-primary-light;
                            background-color: #373B40;
                            bottom: -4rem;
                            padding: .2rem .8rem;
                            border-radius: .5rem;
                            font-size: 1.2rem;
                        }
                    }

                    .details:hover {
                        &::after {
                            position: absolute;
                            color: $color-primary-light;
                            content: 'Details';
                            background-color: #373B40;
                            bottom: -4rem;
                            padding: .2rem .8rem;
                            border-radius: .5rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .card-1 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/cristopher.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-2 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/classof.png") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-3 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/pathan.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-4 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/dom.jpg") no-repeat;
            background-size: contain;
            background-position: right;
        }

        .card-5 {
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/smile.png") no-repeat;
            background-size: contain;
            background-position: right;
        }
    }

    .content {
        color: $color-primary-light !important;
        padding: 4rem 2rem;

        .continue {
            @include flex-column;
            gap: 1rem;

            .heading-section {
                font-size: 2.4rem;
            }

            .card {
                border-radius: .8rem;
                width: 26rem;

                .card-img {
                    border-radius: .8rem;
                    height: 14.3rem;
                }


                .card-1-img {
                    background: url("../../assets/continue-watching/sherlock.webp") no-repeat;
                    background-size: cover;
                }

                .card-2-img {
                    background: url("../../assets/continue-watching/young-seldon.webp") no-repeat;
                    background-size: cover;
                }

                .card-3-img {
                    background: url("../../assets/continue-watching/kantara.webp") no-repeat;
                    background-size: cover;
                }

                .card-4-img {
                    background: url("../../assets/continue-watching/kgf-chapter-2.webp") no-repeat;
                    background-size: cover;
                }

                .card-5-img {
                    background: url("../../assets/continue-watching/pushpa.webp") no-repeat;
                    background-size: cover;
                }

                .card-6-img {
                    background: url("../../assets/continue-watching/kung-fu-panda.webp") no-repeat;
                    background-size: cover;
                }

                .card-7-img {
                    background: url("../../assets/continue-watching/sarileru.webp") no-repeat;
                    background-size: cover;
                }

                .card-8-img {
                    background: url("../../assets/continue-watching/jack-ryan.webp") no-repeat;
                    background-size: cover;
                }

                .card-9-img {
                    background: url("../../assets/continue-watching/pathan.webp") no-repeat;
                    background-size: cover;
                }

                .card-10-img {
                    background: url("../../assets/continue-watching/infinite.webp") no-repeat;
                    background-size: cover;
                }

                .card-11-img {
                    background: url("../../assets/continue-watching/gold.webp") no-repeat;
                    background-size: cover;
                }

                .card-12-img {
                    background: url("../../assets/continue-watching/die-hart.webp") no-repeat;
                    background-size: cover;
                }

                .card-13-img {
                    background: url("../../assets/continue-watching/carnival.webp") no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.active-main-content {
    margin-left: 6.5rem !important;
}