/* Default */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;

	/* width */
	::-webkit-scrollbar {
		width: 4px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: $color-primary-dark;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #00A0D6;
	}
}

body {
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;

	a {
		text-decoration: none;
		color: inherit;
	}

	li {
		list-style: none;
	}
}