// Color Variable

//Primary Colors
$color-primary-blue: #14142B;
$color-primary-purple: #8457CC;
$color-primary-dark: #181818;
$color-primary-light: #fff;
$color-primary-grey: #1B2530;
$color-color: #8197A4;

// Secondary Colors
$color-secondary-purple: #4E4B66;
$color-secondary-purple-light: #F3EFFA;
$color-secondary-grey: #8e8e8e;
$color-secondary-success: #14A41A;
$color-secondary-error: #FF5555;