@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
/* Default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
}
html ::-webkit-scrollbar {
  width: 4px;
}
html ::-webkit-scrollbar-track {
  background: #00050D;
}
html ::-webkit-scrollbar-thumb {
  background: #00A0D6;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #fff !important;
}

.heading-primary {
  font-size: 7.2rem;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .heading-primary {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-primary {
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-secondary {
    font-size: 2.4rem;
  }
}

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .heading-tertiary {
    font-size: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-tertiary {
    font-size: 2.4rem;
  }
}

.heading-m {
  font-size: 2.4rem;
  font-weight: 700;
}
@media screen and (max-width: 450px) {
  .heading-m {
    font-size: 2.8rem;
  }
}

.heading-xm {
  font-size: 4rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .heading-xm {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-xm {
    font-size: 2.5rem;
  }
}

.heading-ms {
  font-size: 2.2rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .heading-ms {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-ms {
    font-size: 1.8rem;
  }
}

.heading-small {
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .heading-small {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-small {
    font-size: 1.3rem;
  }
}

.heading-xs {
  font-size: 1.4rem;
  font-weight: 500;
}

p {
  font-weight: 400;
}

.para-small {
  font-size: 1.6rem;
}
@media screen and (max-width: 750px) {
  .para-small {
    font-size: 1.7rem !important;
  }
}
@media screen and (max-width: 550px) {
  .para-small {
    font-size: 1.3rem !important;
  }
}

.para-xs {
  font-size: 1.2rem;
}

.para-large {
  font-size: 2rem;
}
@media screen and (max-width: 750px) {
  .para-large {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .para-large {
    font-size: 1.4rem;
  }
}

.para-xl {
  font-size: 2.4rem;
}

.para-m {
  font-size: 1.8rem;
}
@media screen and (max-width: 750px) {
  .para-m {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 450px) {
  .para-m {
    font-size: 1.2rem;
  }
}

.para-sm {
  font-size: 1.4rem;
}

.para-tiny {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.para-massive {
  font-size: 3.2rem;
  font-weight: 500;
}
@media screen and (max-width: 1000px) {
  .para-massive {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 450px) {
  .para-massive {
    font-size: 1.8rem;
  }
}

.main-container {
  width: 100%;
  padding-bottom: 5rem;
  background-color: #00050D;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 6.5rem;
  overflow: hidden;
  z-index: 1000;
  height: 100vh;
  background-color: #1B2530;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 1.5);
}
.sidebar .top {
  padding: 3rem 2rem 4rem 2rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  border-bottom: 2px solid #14142B;
}
.sidebar .top i {
  font-size: 2.5rem;
  cursor: pointer;
}
.sidebar .top img {
  width: 15rem;
  cursor: pointer;
}
.sidebar .main {
  width: 30rem;
  padding: 2rem 0;
  color: #8197A4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.45rem;
}
.sidebar .main .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  padding: 0 2rem;
}
.sidebar .main .search i {
  font-size: 2rem;
}
.sidebar .main .search input {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0.5rem;
  flex: 1;
  outline: none;
  border: 1.5px solid #8197A4;
  padding: 1rem;
  font-size: inherit;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sidebar .main .search input:hover {
  border: 1.5px solid #fff;
}
.sidebar .main .side-nav {
  display: flex;
  flex-direction: column;
}
.sidebar .main .side-nav li {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-left: 4px solid transparent;
}
.sidebar .main .side-nav li i {
  font-size: 1.8rem;
}
.sidebar .main .side-nav li:hover {
  color: #fff;
  border-left: 4px solid #00A0D6;
}
.sidebar .main .side-nav .active-list {
  border-left: 4px solid #00A0D6;
}
.sidebar .bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  color: #8197A4;
  align-items: center;
}
.sidebar .bottom .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  border: 4px solid #fff;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.sidebar .bottom .avatar img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar .bottom .user-info {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.3rem;
  display: none;
}
.sidebar .bottom .user-info .name {
  color: #fff;
}
.sidebar .bottom .angle-right {
  display: none;
}
.sidebar .bottom .gear {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.sidebar .bottom .gear i {
  font-size: 1.8rem;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.sidebar .bottom .gear i:hover {
  color: #F3EFFA;
}
.sidebar .bottom .gear .setting-icon:hover {
  transform: rotate(360deg);
}

.active-sidebar {
  width: 30rem;
}

.add-sidebar-items {
  display: block !important;
}

.active-user {
  flex-direction: row !important;
  justify-content: space-between !important;
}

.main-content {
  margin-left: 6.5rem;
  transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 1.5);
  background-color: #00050D;
  overflow: hidden;
}
.main-content .swiper-button-prev,
.main-content .swiper-button-next {
  color: #fff;
}
.main-content .swiper-button-prev:after,
.main-content .swiper-button-next:after {
  font-size: 3rem;
  font-weight: 700;
}
.main-content .hero-sliders {
  height: 70vh;
}
.main-content .hero-sliders .swiper {
  height: 100%;
}
.main-content .hero-sliders .swiper-pagination-bullet {
  background-color: #fff !important;
}
.main-content .hero-sliders .movie-card {
  height: 100%;
}
.main-content .hero-sliders .movie-card .text-content {
  transform: translate(10%, 50%);
  color: #fff;
}
.main-content .hero-sliders .movie-card .text-content .trending {
  font-weight: 700;
  font-size: 2rem;
}
.main-content .hero-sliders .movie-card .text-content .heading-primary {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
.main-content .hero-sliders .movie-card .text-content .included {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.main-content .hero-sliders .movie-card .text-content .included .check {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #00A0D6;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .hero-sliders .movie-card .text-content .included .rated {
  margin-left: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  background-color: #373B40;
}
.main-content .hero-sliders .movie-card .text-content .btns {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}
.main-content .hero-sliders .movie-card .text-content .btns .play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}
.main-content .hero-sliders .movie-card .text-content .btns .play p {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.8rem;
}
.main-content .hero-sliders .movie-card .text-content .btns .play span {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  color: #14142B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.main-content .hero-sliders .movie-card .text-content .btns .play span:hover {
  transform: scale(1.1);
}
.main-content .hero-sliders .movie-card .text-content .btns .watchlist,
.main-content .hero-sliders .movie-card .text-content .btns .details {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #373B40;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.main-content .hero-sliders .movie-card .text-content .btns .watchlist:hover,
.main-content .hero-sliders .movie-card .text-content .btns .details:hover {
  background-color: #fff;
  color: #373B40;
  transform: scale(1.1);
}
.main-content .hero-sliders .movie-card .text-content .btns .watchlist:hover::after {
  position: absolute;
  content: "Watchlist";
  color: #fff;
  background-color: #373B40;
  bottom: -4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.main-content .hero-sliders .movie-card .text-content .btns .details:hover::after {
  position: absolute;
  color: #fff;
  content: "Details";
  background-color: #373B40;
  bottom: -4rem;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.main-content .hero-sliders .card-1 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/cristopher.jpg") no-repeat;
  background-size: contain;
  background-position: right;
}
.main-content .hero-sliders .card-2 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/classof.png") no-repeat;
  background-size: contain;
  background-position: right;
}
.main-content .hero-sliders .card-3 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/pathan.jpg") no-repeat;
  background-size: contain;
  background-position: right;
}
.main-content .hero-sliders .card-4 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/dom.jpg") no-repeat;
  background-size: contain;
  background-position: right;
}
.main-content .hero-sliders .card-5 {
  background: linear-gradient(90deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%), url("../../assets/smile.png") no-repeat;
  background-size: contain;
  background-position: right;
}
.main-content .content {
  color: #fff !important;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.main-content .content .continue {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}
.main-content .content .continue .swiper-hover {
  overflow: visible;
}
.main-content .content .continue .heading-section {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.main-content .content .continue .heading-section span {
  color: #00A0D6;
}
.main-content .content .continue .card {
  position: relative;
  border-radius: 0.8rem;
  width: 26rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.5, -0.5, 0.2, 1.6);
}
.main-content .content .continue .card:hover {
  transform: scale(1.1);
  z-index: 100;
}
.main-content .content .continue .card:hover .card-content {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.main-content .content .continue .card:hover .card-img {
  border-radius: 0.8rem 0.8rem 0 0;
}
.main-content .content .continue .card .card-content {
  background-color: #00050D;
  padding: 1rem;
  position: absolute;
  border-radius: 0 0 0.8rem 0.8rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.5, -0.5, 0.2, 1.6);
}
.main-content .content .continue .card .card-content .included-with {
  font-size: 1.3rem;
}
.main-content .content .continue .card .card-content .included-with i {
  color: #00A0D6;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.main-content .content .continue .card .card-content .ctas {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.main-content .content .continue .card .card-content .ctas .play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-content .content .continue .card .card-content .ctas .play i {
  font-size: 4rem;
}
.main-content .content .continue .card .card-content .ctas .icon-sub {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 50%;
  background-color: #373B40;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .content .continue .card .card-content .info .title .subtag {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.main-content .content .continue .card .card-content .info .title .heading-title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.main-content .content .continue .card .card-content .info .rated {
  font-size: 1.2rem;
  font-weight: 600;
  color: #A8A8A8;
  margin-bottom: 0.5rem;
}
.main-content .content .continue .card .card-content .info .rated span {
  margin-left: 1rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: #373B40;
  color: #fff;
}
.main-content .content .continue .card .card-content .info .awards {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.main-content .content .continue .card .card-content .info .desc {
  color: #A8A8A8;
  font-size: 1.4rem;
}
.main-content .content .continue .card .card-img {
  border-radius: 0.8rem;
  height: 14.3rem;
  position: relative;
}
.main-content .content .continue .card .card-img .bar {
  width: 90%;
  height: 0.4rem;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -98%);
  border-radius: 5rem;
}
.main-content .content .continue .card .card-img .bar::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.4rem;
  border-radius: 5rem;
  background-color: #00A0D6;
}
.main-content .content .continue .card .card-1-img {
  background: url("../../assets/continue-watching/sherlock.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-2-img {
  background: url("../../assets/continue-watching/young-seldon.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-2-img .bar::after {
  width: 30%;
}
.main-content .content .continue .card .card-3-img {
  background: url("../../assets/continue-watching/kantara.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-3-img .bar::after {
  width: 50%;
}
.main-content .content .continue .card .card-4-img {
  background: url("../../assets/continue-watching/kgf-chapter-2.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-4-img .bar::after {
  width: 70%;
}
.main-content .content .continue .card .card-5-img {
  background: url("../../assets/continue-watching/pushpa.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-5-img .bar::after {
  width: 30%;
}
.main-content .content .continue .card .card-6-img {
  background: url("../../assets/continue-watching/kung-fu-panda.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-6-img .bar::after {
  width: 10%;
}
.main-content .content .continue .card .card-7-img {
  background: url("../../assets/continue-watching/sarileru.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-7-img .bar::after {
  width: 20%;
}
.main-content .content .continue .card .card-8-img {
  background: url("../../assets/continue-watching/jack-ryan.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-8-img .bar::after {
  width: 55%;
}
.main-content .content .continue .card .card-9-img {
  background: url("../../assets/continue-watching/pathan.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-9-img .bar::after {
  width: 69%;
}
.main-content .content .continue .card .card-10-img {
  background: url("../../assets/continue-watching/infinite.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-10-img .bar::after {
  width: 42%;
}
.main-content .content .continue .card .card-11-img {
  background: url("../../assets/continue-watching/gold.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-11-img .bar::after {
  width: 5%;
}
.main-content .content .continue .card .card-12-img {
  background: url("../../assets/continue-watching/die-hart.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-12-img .bar::after {
  width: 80%;
}
.main-content .content .continue .card .card-13-img {
  background: url("../../assets/continue-watching/carnival.webp") no-repeat;
  background-size: cover;
}
.main-content .content .continue .card .card-13-img .bar::after {
  width: 98%;
}
.main-content .content .language {
  position: relative;
  z-index: 100;
}
.main-content .content .language .lang-card {
  transform: scale(1) !important;
}
.main-content .content .language .lang-card:hover .card-img {
  border-radius: 0.8rem !important;
}
.main-content .content .language .lang-card .lang-img-1 {
  background: url("../../assets/lang/hindi.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-2 {
  background: url("../../assets/lang/english.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-3 {
  background: url("../../assets/lang/telgu.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-4 {
  background: url("../../assets/lang/tamil.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-5 {
  background: url("../../assets/lang/malyalam.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-6 {
  background: url("../../assets/lang/odia.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-7 {
  background: url("../../assets/lang/marathi.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-8 {
  background: url("../../assets/lang/punjabi.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-9 {
  background: url("../../assets/lang/bangla.webp") no-repeat;
  background-size: cover;
}
.main-content .content .language .lang-card .lang-img-10 {
  background: url("../../assets/lang/gujrati.webp") no-repeat;
  background-size: cover;
}

.active-main-content {
  margin-left: 30rem !important;
}/*# sourceMappingURL=main.css.map */